<div class="navbar-container">
    <div class="menu-items">
        <div class="navbar-item" (click)="changeScreen('algemeen')">Algemeen</div>
        <div class="navbar-item" (click)="changeScreen('leden')">Leden</div>
        <div class="navbar-item" (click)="changeScreen('groepen')">Groepen</div>
        <div class="navbar-item" (click)="changeScreen('agenda')">Agenda</div>
        <div class="navbar-item" (click)="changeScreen('facturatie')">Facturatie</div>
        <div class="navbar-item" (click)="changeScreen('email')">Email versturen</div>
    </div>
</div>