.header-container{
    height: 60px;
    background: #0e2c3a;
    color: #FFF;
    display: flex;
    // justify-content: center;
    align-items: center;
    border-bottom: 2px solid #455a64;
    padding-left: 10px;
}